# SPDX-FileCopyrightText: 2022 Lutris, Inc
# SPDX-License-Identifier: BlueOak-1.0.0 OR BSD-2-Clause-Patent
# SPDX-FileContributor: Piper McCorkle <piper@lutris.engineering>

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.settings
.project
.classpath

lib/bin
